.dateTicket__container{
    font-family: 'Tajawal', sans-serif;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    direction: rtl;
    @include breakpoint-down(medium){
        width: 90%;
    }
    @include breakpoint-down(small){
        width: 90%;
    }
    &__head{
        display: flex;
        font-weight: 700;
        font-size: 1.3rem;
        justify-content: flex-end;
        align-items: center;
        direction: ltr;
        font-family: 'Tajawal', sans-serif;
        @include breakpoint-down(small){
            font-size: 1.1rem;
            font-weight: 600;
        }
        p{
          color: $grayishBlue;
           margin: 1.2rem 1.2rem 1rem 0;
           font-family: 'Tajawal', sans-serif;
           @include breakpoint-down(small){
            margin: 1.2rem 0.8rem 1rem 0;
        }
        }
        .fa-arrow-right{
            color: grayishBlue;
            font-size: 0.9rem;
            font-weight: 600;
            opacity: 0.5;
        }
    }

    // &__calender{
    //     display: flex;
    //     flex-direction: column;
    //     // input[type='date']{
    //     //     width: 50%;
    //     //     height: 2.9rem;
    //     //     background-color: $grayLight;
    //     //     color: white;
    //     //     padding: 0.8rem;
    //     //     border: 0;
    //     //     cursor: pointer;
    //     //     &::placeholder{
    //     //         color: white;
    //     //     }
    //     //     &:focus{
    //     //         outline: none;
    //     //         border: 0;
    //     //         box-shadow: 0;
    //     //     }
    //     //     font-family: 'Tajawal', sans-serif;
    //     // }

    // }

    &__CardTime{
        font-family: 'Tajawal', sans-serif;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        a{
            padding: 0 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.5rem 0;
            &:focus,&:focus-visible{
                border: 1px solid $btn_body; 
            }
            .CardTime__right{
                display: flex;
                align-items: center;
                transition: all ease 0.3;
                    p{
                        i{
                            color: $grayLight;
                           
                        }
                    }
                /* The container */
                    .Card__container {
                        display: block;
                        position: relative;
                        padding-left: 35px;
                        margin-bottom: 12px;
                        cursor: pointer;
                        font-size: 18px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        transition: all ease 0.3;
                        font-family: 'Tajawal', sans-serif;
                    }

                    /* Hide the browser's default radio button */
                    .Card__container input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    font-family: 'Tajawal', sans-serif;
                    }

                    /* Create a custom radio button */
                    .checkmark {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 20px;
                    width: 20px;
                    background-color: $grayLight;
                    border-radius: 50%;
                    transition: all ease 0.3;
                    transform: translate(-50%,-30%);
                    font-family: 'Tajawal', sans-serif;
                    }

                    /* On mouse-over, add a grey background color */
                    .Card__container:hover input ~ .checkmark {
                    background-color: #ccc;
                    }

                    /* When the radio button is checked, add a blue background */
                    .Card__container input:checked ~ .checkmark {
                        background-color:  $btn_body;
                    }
                   


                    /* Create the indicator (the dot/circle - hidden when not checked) */
                    .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                    }

                    /* Show the indicator (dot/circle) when checked */
                    .Card__container input:checked ~ .checkmark:after {
                    display: block;
                    }

                    /* Style the indicator (dot/circle) */
                    .Card__container .checkmark:after {
                        top: 6.5px;
                        left: 6.5px;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: white;
                    }
                
            }
         
        }
    }

    &__CardPlanTime{
       
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 1rem auto;
        font-family: 'Tajawal', sans-serif;

        &__Plan{
            display: flex;
            width: 100%;
            flex-direction: column;
            font-family: 'Tajawal', sans-serif;
            &__PlanInfo{
                display: flex;
                justify-content: start;
                align-items: center;
                font-family: 'Tajawal', sans-serif;
                @include breakpoint-down(medium){
                    flex-direction: column;

                }
                .sub__PlanTitle{
                    font-family: 'Tajawal', sans-serif;
                    @include breakpoint-down(medium){
                        width: 100%;
    
                    }
                    width: 30%;
                }
                &__PlanMoreInfo{
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: center; 
                    font-family: 'Tajawal', sans-serif;
                    .input__number{
                        display: flex;
                        justify-content: center;
                        margin: 0;
                        :nth-child(2n),
                        :nth-child(2n+1){
                            margin: 0;
                        }
                        .fa-plus{
                            padding: 0.5rem;
                            border: 1px solid $btn_body;
                            border-radius: 0 8px 8px 0;
                            color: $btn_body;
                            font-size: 1rem; 
                            cursor: pointer;
                            transition: all ease 0.3s;
                            &:hover{
                                background-color: $btn_body;
                                color: $white;
                            }
                        }
                        .fa-minus{
                            padding: 0.5rem;
                            border: 1px solid $btn_body;
                            border-radius: 8px 0 0 8px;
                            color: $btn_body;
                            font-size: 1rem;
                            cursor: pointer;
                            transition: all ease 0.3s;
                            &:hover{
                                background-color: $btn_body;
                                color: $white;
                            }
                        }
                    }


                    input[type="text"]{
                        border: 1px solid $btn_body;
                        border-left: 0;
                        border-right: 0;
                        text-align: center;
                        width: 2.5rem;
                        padding: 0.5rem;
                        color: $btn_body;
                        font-weight: 700;
                        font-size: 1rem;
                        &:focus{
                            outline: none;
                            border: 1px solid $btn_body;
                            box-shadow: none;
                            border-left: 0;
                        border-right: 0;
                        }
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                        }
                        -moz-appearance: textfield;
                    }
                    :not(:last-child){
                        margin-left: 2.5rem ;
                    }
                    
                     @include breakpoint-down(medium){
                        :not(:last-child){
                            margin-left: 1rem ;
                        }

                    }
                }
            }
            &__linkAdd{
                margin: 2rem 0;
                a{
                    padding: 1rem 2.3rem;
                    background-color: $btn_body;
                    color: white;
                    transition: all ease 0.3s;
                    font-weight: 700;
                    font-size: 1.1rem;
                    &:hover{
                        background-color: $btn_body_Hover;
                    }
                }
            }
        }
        
    }
      
  
}


.checked_Time{
    border: 1px solid $btn_body;
}
.UnChecked_Time{
    border: 1px solid $grayishBlue;
}

.CardTime__left__close{
    color: $card_available_color;
    font-weight: 700;
    padding: 0.25rem 0.4rem;
    font-size: 0.9rem;
}

.CardTime__left__open{
    color: white;
    font-weight: 700;
    background-color: $card_available_color;
    padding: 0.25rem 0.4rem;
    font-size: 0.9rem;
}


//  new calender 

  .calendar {
    background-color: white;
    font-family: 'Tajawal', sans-serif;
}
  
  .month {
    width: 100%;
    margin: 0 auto;
    height: 2.5rem;
    background-color: #faf8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    i {
        font-size: 1rem;
        cursor: pointer;
      }

      h1 {
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
        font-family: 'Tajawal', sans-serif;
      }
  }

  
  .weekdays {
    width: 50%;
    @include breakpoint-down(medium){
        width: 100%;
    }
    margin: 0 auto;
    height: 2rem;
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
    font-family: 'Tajawal', sans-serif;
    div {
        
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        font-family: 'Tajawal', sans-serif;
        @include breakpoint-down(medium){
            width: calc(100% / 7);
            font-size: 1.2rem;
            margin: 0 auto;
        }
        @include breakpoint-down(small){
            font-size: 1.1rem;
            width: calc(100% / 7);
            margin: 0 auto;
        }
       
        width: calc(95% / 7);
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }  
  }
  
  .days {
      
    width: 50%;
    @include breakpoint-down(medium){
        width: 100%;
    }
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: $grayLight;
    padding: 0.1rem;
    font-family: 'Tajawal', sans-serif;
    div {
        font-size: 1.2rem;
        margin: 0.2rem;   
        font-family: 'Tajawal', sans-serif;
        @include breakpoint-down(medium){
            width: calc(75% / 7);
            margin: 0 auto;
            font-size: 1.35rem;
        }
        @include breakpoint-down(small){
            width: calc(86% / 7);
            margin: 0 auto;
            font-size: 1.2rem;
        }
        width: calc(88% / 7);
        margin: 0 auto;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.2s;
      }
    div:hover:not(.today) {
        background-color: $grayLight;
        border: 0.2rem solid $grayishBlue;
        color: white;
        cursor: pointer;
    }
  }
  
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
    .today {
        background-color: $btn_body;
        color: white;
    }

    .noTicket {
        color: $grayLight;
        cursor: not-allowed;
    }

    .hasTicket {
        background-color: $limeGreen;
        color: white;   
    }


.calendar{
    .card__infoCalender{
        display: flex;
        justify-content: start;
        align-items: center;
        font-family: 'Tajawal', sans-serif;
        @include breakpoint-down(small){
            display: grid;
            grid-template-columns: repeat(2 ,1fr);
        }
        .supCard__infoCalender{
            display: flex;
            align-items: center;
            margin: 0 0.5rem;
            font-family: 'Tajawal', sans-serif;
            &__color{
                // display: flex;
                width: 8px;
                height: 8px;
                
           }
           .color__limeGreen{
            background-color: $limeGreen;
           }
           .color__grayGray{
            background-color: $grayLight;
           }
           .color__limeOrange{
            background-color: $btn_body;
           }
           .color__limeBlack{
            background-color: $black;
           }
           &__name{
            font-size: 1rem;
            font-weight: 500;
            margin: 0 0 0 0.5rem;
            font-family: 'Tajawal', sans-serif;
            @include breakpoint-down(small){
                font-size: 0.9rem;
                font-weight: 400;
                margin: 0 0 0 0.3rem;
            }
           }
        }
      
    }
}


@media (max-width:956px) {
    .weekdays {
        width: 100%;
        margin: 0 auto;
        height: 3rem;
        padding: 0 0.2rem;
        div {
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: 0.1rem;
            width: calc(100% / 7);
          }  
      }

    .days {
        width: 100%;
        div {
            width: calc(89% / 7);
            margin: 0 auto;
            height: 3.4rem;
          }
      }
}



  