.dateTicket__container{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    direction: rtl;
    @include breakpoint-down(small){
        width: 90%;
    }
    &__head{
        display: flex;
        font-weight: 700;
        font-size: 1.5rem;
        justify-content: flex-end;
        align-items: center;
        direction: ltr;
        @include breakpoint-down(small){
            font-size: 1.2rem;
        }
        p{
          color: $grayishBlue;
           margin: 1.2rem 1.2rem 1rem 0;
           @include breakpoint-down(small){
            margin: 1.2rem 0.8rem 1rem 0;
        }
        }
        .fa-arrow-right{
            color: grayishBlue;
            font-size: 1.2rem;
            font-weight: 600;
            opacity: 0.5;
        }
    }

    &__calender{
        display: flex;
        flex-direction: column;
        input[type='date']{
            width: 50%;
            height: 2.9rem;
            background-color: $grayLight;
            color: white;
            padding: 0.8rem;
            border: 0;
            cursor: pointer;
            &::placeholder{
                color: white;
            }
            &:focus{
                outline: none;
                border: 0;
                box-shadow: 0;
            }
        }

        .month {
            padding: 10px 0px;
            width: 100%;
            color: $grayishBlue;
            border-bottom: 1px solid $btn_body;
            ul {
                margin: 0;
                padding: 0;
                li {
                    color: $grayishBlue;
                    font-size: 20px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                  }
              }
          }
          
          .weekdays {
            margin: 0;
            padding: 10px 0;
            background-color: #fcfcfc;
            li {
                display: inline-block;
                width: 13.6%;
                color: #666;
                text-align: center;
              }
          }

          .days {
            padding: 10px 0;
            background: #ffffff;
            margin: 1;
            li {
                list-style-type: none;
                display: inline-block;
                width: 13.5%;
                text-align: center;
                margin-bottom: 5px;
                font: size 1.4rem;
                color: #777;
                margin: 0.5rem auto;
                cursor: not-allowed;
                .active {
                    padding: 0.4rem 0.65rem;
                    background: $btn_body;
                    border-radius: 50%;
                    color: white !important;
                    cursor: pointer; 
                  }
                  

                  .available {
                    padding: 0.3rem 0.65rem;
                    border-radius: 50%;
                    color: $card_available_color !important;
                    cursor: pointer; 
                  }
                  
              }
          }
    }

    &__CardTime{
        
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 2rem auto;
        a{
            padding: 0 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.5rem 0;
            &:focus,&:focus-visible{
                border: 1px solid $btn_body; 
            }
            .CardTime__right{
                display: flex;
                align-items: center;
                transition: all ease 0.3;
                    p{
                        i{
                            color: $grayLight;
                        }
                    }
                /* The container */
                    .Card__container {
                        display: block;
                        position: relative;
                        padding-left: 35px;
                        margin-bottom: 12px;
                        cursor: pointer;
                        font-size: 22px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        transition: all ease 0.3;
                    }

                    /* Hide the browser's default radio button */
                    .Card__container input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    }

                    /* Create a custom radio button */
                    .checkmark {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 25px;
                    width: 25px;
                    background-color: $grayLight;
                    border-radius: 50%;
                    transition: all ease 0.3;
                    transform: translate(-50%,-30%);
                    }

                    /* On mouse-over, add a grey background color */
                    .Card__container:hover input ~ .checkmark {
                    background-color: #ccc;
                    }

                    /* When the radio button is checked, add a blue background */
                    .Card__container input:checked ~ .checkmark {
                        background-color:  $btn_body;
                    }
                   


                    /* Create the indicator (the dot/circle - hidden when not checked) */
                    .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                    }

                    /* Show the indicator (dot/circle) when checked */
                    .Card__container input:checked ~ .checkmark:after {
                    display: block;
                    }

                    /* Style the indicator (dot/circle) */
                    .Card__container .checkmark:after {
                        top: 9px;
                        left: 9px;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: white;
                    }
                
            }
         
        }
    }

    &__CardPlanTime{
       
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 1rem auto;

        &__Plan{
            display: flex;
            width: 100%;
            flex-direction: column;
            &__PlanInfo{
                display: flex;
                justify-content: start;
                align-items: center;
                // border-top:1px solid $grayishBlue ;
                // border-bottom:1px solid $grayishBlue ;
                @include breakpoint-down(medium){
                    flex-direction: column;

                }
                .sub__PlanTitle{
                    width: 30%;
                }
                &__PlanMoreInfo{
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: center; 
                    .input__number{
                        display: flex;
                        justify-content: center;
                        margin: 0;
                        :nth-child(2n),
                        :nth-child(2n+1){
                            margin: 0;
                        }
                        .fa-plus{
                            padding: 0.5rem;
                            border: 1px solid $btn_body;
                            border-radius: 0 8px 8px 0;
                            color: $btn_body;
                            font-size: 1rem; 
                            cursor: pointer;
                            transition: all ease 0.3s;
                            &:hover{
                                background-color: $btn_body;
                                color: $white;
                            }
                        }
                        .fa-minus{
                            padding: 0.5rem;
                            border: 1px solid $btn_body;
                            border-radius: 8px 0 0 8px;
                            color: $btn_body;
                            font-size: 1rem;
                            cursor: pointer;
                            transition: all ease 0.3s;
                            &:hover{
                                background-color: $btn_body;
                                color: $white;
                            }
                        }
                    }


                    input[type="text"]{
                        border: 1px solid $btn_body;
                        border-left: 0;
                        border-right: 0;
                        text-align: center;
                        width: 2.5rem;
                        padding: 0.5rem;
                        color: $btn_body;
                        font-weight: 700;
                        font-size: 1rem;
                        &:focus{
                            outline: none;
                            border: 1px solid $btn_body;
                            box-shadow: none;
                            border-left: 0;
                        border-right: 0;
                        }
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                        }
                        -moz-appearance: textfield;
                    }
                    :not(:last-child){
                        margin-left: 2.5rem ;
                    }
                    
                    // :last-child{
                    //     border: 1px solid $btn_body;
                    //     padding: 0.4rem 1rem;
                    //     border-radius: 8px;
                    //     transition: all ease 0.3s;
                    //     &:hover{
                    //         color: $white;
                    //         background-color: $btn_body;
                    //     }
                    // }
                     @include breakpoint-down(medium){
                        :not(:last-child){
                            margin-left: 1rem ;
                        }
                        // :last-child{
                        //     border: 1px solid $btn_body;
                        //     padding: 0.3rem 0.3rem;
                        //     border-radius: 8px;
                        // }
                        
                    }
                }
            }
            &__linkAdd{
                margin: 2rem 0;
                a{
                    padding: 1rem 2.3rem;
                    background-color: $btn_body;
                    color: white;
                    transition: all ease 0.3s;
                    &:hover{
                        background-color: $btn_body_Hover;
                    }
                }
            }
        }
        
    }
      
      /* Add media queries for smaller screens */
      @media screen and (max-width:720px) {
        .weekdays li, .days li {width: 13.1%;}
      }
      
      @media screen and (max-width: 420px) {
        .weekdays li, .days li {width: 12.5%;}
        .days li .active {
            // padding: 2px;
            padding: 0.2rem 0.55rem;
        }
      }
      
      @media screen and (max-width: 290px) {
        .weekdays li, .days li {width: 12.2%;}
      }
    //   
}


.checked_Time{
    border: 1px solid $btn_body;
}
.UnChecked_Time{
    border: 1px solid $grayishBlue;
}

.CardTime__left__close{
    color: $card_available_color;
    font-weight: 700;
    padding: 0.25rem 0.4rem;
}

.CardTime__left__open{
    color: white;
    font-weight: 700;
    background-color: $card_available_color;
    padding: 0.25rem 0.4rem;
}
