.container__header{
    display: flex;
    width: 100%;
    height: 85px;
    background-color: $header_BG;
    color: $white;
    position: relative;
    box-shadow: 1px 1px 8px $grayishBlue;
    font-family: 'Tajawal', sans-serif;

    .header{
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
        z-index: 999;
        // logo
        &__logo{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 12rem;
                max-width: 12rem;
                min-width: 12rem;
                padding: 2rem;
            }
        }

        // input Search
        &__search{
            @include breakpoint-down(medium){
                display: none;   
            }
          display: flex;
          justify-content: flex-start;
          align-self: center;
          position: relative;
          height: 2.5rem;
          width: 100%;
          color: $grayLight;
            &__icon{
                position: absolute;
                font-size: 0.9rem;
                top: 50%;
                left: 0.7rem;
                transform: translate(0,-50%);
                opacity: 0.6;
            }
            &__input{
                padding: 0 2rem;
                width: 70%;
                font-size: 1.1rem;
                transition: all ease 0.3s;
                border-radius: 5px;
                border: 0;
                direction: rtl;
                font-family: 'Tajawal', sans-serif;
                ::placeholder{ 
                  font-size: 1.1rem;
                  font-family: 'Tajawal', sans-serif;
                }
            }
        }

        // header__btnAuth
        
        &__btnAuth{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            @include breakpoint-down(medium){
                display: none;   
            }
            &__login{
                color: $white;
                margin-right:1rem ;
                padding: 0.5rem 1rem;
                border: 3px solid $white;
                border-radius: 5px;
                transition: all ease 0.3s;
                font-family: 'Tajawal', sans-serif;
                &:hover{
                    border: 3px solid $white;
                    color: $grayLight;
                    background-color: $white;
                }
                
            }
            &__signUp{
                color: $grayLight;
                background-color: $white;
                padding: 0.5rem 1rem;
                border: 3px solid $white;
                border-radius: 5px;
                transition: all ease 0.3s;
                font-family: 'Tajawal', sans-serif;
                &:hover{
                    border: 3px solid $white;
                    color: $white;
                    background-color: transparent;
                }
                
            }
        }

        &__toggle { 
            align-self: center;
            // Mobile Menu Toggle
            @include breakpoint-up(large){
                display: none;   
            }
            > span {
              display: block;
              width: 26px;
              height: 2.5px;
              background-color: $white;
              transition: all 300ms ease-in-out;
              transform-origin: 3px 1px;
        
              &:not(:last-child){
                margin-bottom: 5px;
              }
              &:last-child{
                width: 18px;
              }
            }
          }

          // Hamburger Open Styles
            &.open {

                .header__toggle {
                > span:first-child {
                    transform: rotate(45deg);
                    width: 26px;
                }
                
                > span:nth-child(2) {
                    opacity: 0;
                }
                
                > span:last-child {
                    transform: rotate(-45deg);
                    width: 26px;
                }
                }
            }
    
    }

   
    &__search{
        @include breakpoint-up(large){
            display: none;  
        }
       
        @include breakpoint-down(large){
            display: block;
            position: relative;
            padding: 0.7rem 1rem;
            width: 100%;
            color: $grayLight;
        }
        &__form{
            margin: 0 2rem;
            box-shadow: 1px 1px 10px $grayLight;
            &__icon{
                position: absolute;
                font-size: 0.9rem;
                top: 50%;
                left: 3.7rem;
                transform: translate(0,-50%);
                opacity: 0.6;
            }
            &__input{
                display: block;
                padding: 0 2rem;
                width: 100%;
                height: 2.2rem;
                font-size: 1.1rem;
                transition: all ease 0.3s;
                border-radius: 5px;
                border: 0;
                direction: rtl;
                font-family: 'Tajawal', sans-serif;
                ::placeholder{ 
                  font-size: 1.1rem;
                  font-family: 'Tajawal', sans-serif;
                }
            }
        }
         
        
        
    }
   
   
    &__menu{
        @include breakpoint-up(large){
            display: none;  
        }
        @include breakpoint-down(large){
            font-size: $font-med;
        }
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $header_BG ;
        z-index: 99;
        .header__search{
            @include breakpoint-up(medium){
                display: none;  
            }
          display: flex;
          justify-content: center;
          align-self: center;
          position: relative;
          height: 2.5rem;
          width: 100%;
          color: $grayLight;
          
            &__icon{
                position: absolute;
                font-size: 0.9rem;
                top: 50%;
                left: 9.4rem;
                transform: translate(0,-50%);
                opacity: 0.6;
            }
            &__input{
                padding: 0 2rem;
                width: 70%;
                font-size: 1.1rem;
                transition: all ease 0.3s;
                border-radius: 5px;
                border: 0;
                font-family: 'Tajawal', sans-serif;
                ::placeholder{ 
                  font-size: 1.1rem;
                  font-family: 'Tajawal', sans-serif;
                }
            }
        }
        &__btnAuth{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
        
            &__login{
                color: $white;
                margin: 2rem auto;
                padding: 0.5rem 1rem;
                border: 3px solid $white;
                border-radius: 5px;
                transition: all ease 0.3s;
                font-family: 'Tajawal', sans-serif;
                &:hover{
                    border: 3px solid $white;
                    color: $grayLight;
                    background-color: $white;
                }
            }
            &__signUp{
                color: $grayLight;
                background-color: $white;
                padding: 0.5rem 1rem;
                border: 3px solid $white;
                border-radius: 5px;
                transition: all ease 0.3s;
                font-family: 'Tajawal', sans-serif;
                &:hover{
                    border: 3px solid $grayLight;
                    color: $white;
                    background-color: transparent;
                }
            }
        }
    }

}

.hidden__header__search{
    display: none;  
}

