// Colors
$black : #000;
$backgroundColorHeader : #333545; 
$backgroundColorScroll : #47495ae1; 
$white: #ffffff;
$grayLight: #9698a6;
$grayishBlue: #4c4d57;

$bar-color: #FC8E32;
$ball-color: #B33A84;

$limeGreen: #28c051;
$limeGreenHover: #20963f;

// old
// $darkBlue: hsl(233, 26%, 24%);
// $limeGreen: hsl(136, 65%, 51%);
// $brightCyan: hsl(192, 70%, 51%);
// $lightGrayishBlue: hsl(220, 16%, 96%);
// $veryLightGray: hsl(0, 0%, 98%);


// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;